{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
<main class="mt-5">
	<div class="mt-5">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-7">
					<div class="card text-center mt-5 p-4 z-depth-4 wow fadeIn">
						<div class="card-header">
							<h4>Восстановление пароля</h4>
						</div>
						<div class="card-body text-center p-4">
							<i class="fas fa-check-circle fa-9x text-success mb-4 waves-effect waves-light"></i>
							<h5>Ваш пароль успешно изменён!</h5>
							<hr>
							<p class="small-text grey-text mb-4">
								<a data-toggle="modal" data-target="{% if saved_account is not None %}#SavedLoginModal{% else %}#LoginModal{% endif %}" class="text-primary">Войти</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}