@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

html,body {
	height: 100%;
}
body{
	padding: 0 !important;
}
#wrap {
	min-height: 100%;
}
main {
	padding-bottom: 250px;
	min-height: 100%;
}
footer {
	margin-top: -190px;
	height: 190px;
}
.card-comments img {
	width: 4rem;
}
.dropdown-menu-right {
	right: auto !important;
}
#forgotPassword:hover {
	color: #666666 !important;
}
#forgotPassword:focus {
	color: #000000 !important;
}
.social-item {
	font-size: 25px;
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 5px;
}
.social-item:hover {
	color: #FFFF;
	background-color: #000000;
}

/*-----------------ВОЗВРАТ К ВЕРХУ----------------------*/
#back-top {
    position: fixed;
    bottom: 0px;
	padding: 0px;
	margin: 20px;
    left: 0;
    z-index:99991;
}

#back-top a {
	color: rgba(255, 255, 255, 1);
	text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.5), 0 0 1em rgba(128, 128, 128, 0.5);
}
#back-top a:hover {
	color: grey !important;
}
	
.dropdown-menu {
	padding: 10px;
}

.dropdown-primary:hover {
	background: rgba(156, 39, 176, 0.65) !important;
	color: white !important;
	border-radius: .150rem;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
	transition: all 0.1s linear;

}

.vk-social-button {
	background-color: #4C75A3;
}
.google-social-button {
	background-color: #DD4B39;
}
.github-social-button {
	background-color: #333333;
}
.facebook-social-button {
	background-color: #3B5998;
}
.avatar-xl {
	width: 200px !important;
	height: 200px !important;
}
.avatar-lg {
	max-width: 150px !important;
	max-height: 150px !important;
}
.avatar-md {
	max-width: 100px;
	max-height: 100px;
}
.avatar-sm {
	max-width: 50px;
	max-height: 50px;
}

.article-md {
	width: 200px !important;
}

.btn-rounded {
	border-radius: 30px;
}

.text-comfort {
	font-family: 'Comfortaa', cursive !important;
}

.description > span > * {
	color: #666666;
	font-family: 'Comfortaa', cursive !important;
}

/* prettyprint and article view*/

.article_view, .article_card {
	visibility: visible !important;
}

.article_view img {
	max-width: 100% !important;
	height: auto;
}

table {
	width: auto !important;
}

.prettyprint {
	padding: 15px 10px !important;
	border-radius: 4px;
}
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
	list-style-type: decimal !important;
}

li.L1, li.L3, li.L5, li.L7, li.L9{
  	background: unset !important;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}