{% extends "base.html" %}

{% block content %}
	<div class="main py-5">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-7">
					<div class="card text-center mt-5 p-4 z-depth-4 wow fadeIn text">
						<i class="fas fa-times fa-9x mb-4 text-warning"></i>
						<p> Произошла ошибка, во время авторизации через социальную сеть</p>
						<p class="grey-text">Вы можете <a href="mailto:support@it.ru">связаться с нами.</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}