{% extends 'base.html' %}
{% block content %}
{% load static %}
	<main class="mt-5 pt-5 amy-crisp-gradient">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mb-4">
					<div class="card wow fadeIn">
						<div class="card-header font-weight-bold">
							<p>Search <i class="fas fa-search"></i></p>
						</div>
						<div class="card-body">
							<div class="mb-4 flex-center">
								<input type="search" class="form-control col-8" placeholder="Enter something...">
								<button class="btn btn-info col-2 d-flex justify-content-center">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card wow fadeIn">
						<div class="card-header font-weight-bold">Popular Topics: </div>
						<div class="card-body">
							<div class="row">
								<div class="col-6"><a href="">Python</a><hr></div>
								<div class="col-6"><a href="">HTML & CSS</a><hr></div>
								<div class="col-6"><a href="">JavaScripts</a><hr></div>
								<div class="col-6"><a href="">Django</a><hr></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 mb-4">
					<div class="card wow fadeIn">
						<div class="card-header font-weight-bold">
							4 playlists founded:
						</div>
						<div class="card-body text-center">
							<h2 class="h1-responsive font-weight-bold my-5">Our lessons</h2>
							<p class="grey-text w-responsive mx-auto mb-5">Это плейлисты с уроками по вашему языку от наших проверенных авторов, которые точно вам ответят при возникновении вопросов.</p>
							<div class="row text-center">
								<div class="col-lg-4 col-md-12 mb-4">
									<div class="view overlay rounded z-depth-1 zoom">
										<img src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" class="img-fluid" alt="Sample project image">
									<div class="mask flex-center">
										<p><a href="#" class="white-text">Anton Evstratov</a></p>
									</div>
									<a>
								</div>
								<div class="card-body pb-0">
									<h4 class="font-weight-bold my-3">Title of the news</h4>
									<p class="grey-text">
										Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.
									</p>
									<a class="btn btn-indigo btn-sm"><i class="fas fa-clone left"></i> View project</a>
									</div>
								</div>
								<hr>
								<div class="col-lg-4 col-md-12 mb-4">
									<div class="view overlay rounded z-depth-1 zoom">
										<img src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" class="img-fluid" alt="Sample project image">
									<div class="mask flex-center">
										<p><a href="#" class="white-text">Anton Evstratov</a></p>
									</div>
									<a>
								</div>
								<div class="card-body pb-0">
									<h4 class="font-weight-bold my-3">Title of the news</h4>
									<p class="grey-text">
										Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.
									</p>
									<a class="btn btn-indigo btn-sm"><i class="fas fa-clone left"></i> View project</a>
									</div>
								</div>
								<hr>
								<div class="col-lg-4 col-md-12  mb-4">
									<div class="view overlay rounded z-depth-1 zoom">
										<img src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" class="img-fluid" alt="Sample project image">
									<div class="mask flex-center">
										<p><a href="#" class="white-text">Anton Evstratov</a></p>
									</div>
									<a>
								</div>
								<div class="card-body pb-0">
									<h4 class="font-weight-bold my-3">Title of the news</h4>
									<p class="grey-text">
										Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.
									</p>
									<a class="btn btn-indigo btn-sm"><i class="fas fa-clone left"></i> View project</a>
									</div>
								</div>
								<hr>
								<div class="col-lg-4 col-md-12 mb-4">
									<div class="view overlay rounded z-depth-1 zoom">
										<img src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" class="img-fluid" alt="Sample project image">
									<div class="mask flex-center">
										<p><a href="#" class="white-text">Anton Evstratov</a></p>
									</div>
									<a>
								</div>
								<div class="card-body pb-0">
									<h4 class="font-weight-bold my-3">Title of the news</h4>
									<p class="grey-text">
										Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.
									</p>
									<a class="btn btn-indigo btn-sm"><i class="fas fa-clone left"></i> View project</a>
									</div>
								</div>
								<hr>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}